body
{
	background-color: #800000;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.wypelniacz
{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
  align-items: center;
}
.tlo {
  background-image: url("img/drewno.jpg");
  background-size: cover;
}
.napis {
  color: #FFD700;
  font-weight: bold;
}

.tlo2{
  background-color: #D2B48C;
  background-size: cover;
  font-weight: bold;
}
.sprzycisk{
	/* background-color: #D2B48C; */
  /* background-size: cover; */
  color: #FFD700;
  font-weight: bold;
}

