body
{
	background-color: #B22222;
	color: #ffe484;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #ffe484;
	margin: 20px;
}
.look{
	background-color: #ffe484 !important;
    border-color: #ffe484 !important;
	
}
.textcolor{
	color: #B22222 !important;
	font-weight: bold;
}
.blockquote
{
	line-height: 120%;
}
.warlords
{
	
	text-align: center;
	
}

.warlords img
{
	width: 100%;
	height: auto;
}
.warlords p
{
	margin-bottom: 30px;
}

.warlords figcaption
{
	margin-top: 8px;
}


.przycisklike:
{
	color: #FFD700;
  font-weight: bold;
}
